<section>
    <div class="container">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName">
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="reminder">Reminder</label>
                <textarea name="reminder" id="reminder" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
    <div id="status"></div>
</section>