<section class="Contact form">
    <div class="tasks">
        <div class="box">
            <h1 class="title">Send your reminders</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <!--Contact form-->
        <form (ngSubmit)="submitForm()">
            <!--name-->
            <div class="field">
                <label for="label">Name</label>
                <input type="text" name="name" class="input" [(ngModel)]="name">
            </div>
            <!--email-->
            <div class="field">
                <label for="label">Email</label>
                <input type="text" name="Email" class="input" [(ngModel)]="email">
            </div>
            <!--Reminder-->
            <div class="field">
                <label for="label">Reminder</label>
                <textarea name="reminder" id="reminder" cols="50" rows="10" [(ngModel)]="reminder"></textarea>
            </div>
            <!--submit button-->
            <button type="submit" class="button is-large is-warning">
                Send
            </button>
        </form>
    </div>
</section>